background {
    color = rgba({{ .theme.colors.bg_darkest }}ee)
    path = ~/.cache/screenlock.png
    blur_passes = 3
    blur_size = 6
    brightness = 0.6
}

input-field {
    size = 200, 50
    outline_thickness = 4
    outer_color = rgba({{ .theme.colors.s_0 }}aa)
    inner_color = rgb({{ .theme.colors.bg_darkest }})
    font_color = rgb({{ .theme.colors.fg }})
    placeholder_text = <span font_family="{{ .theme.font.name }} ExtraBold" foreground="##{{ .theme.colors.fg_sub }}">Password...</span>
    check_color = rgb({{ .theme.colors.a_lavender }})
    fail_color = rgb({{ .theme.colors.a_red }})
    fail_text = <span font_family="{{ .theme.font.name }} ExtraBold">$FAIL <b>($ATTEMPTS)</b></span>

    halign = center
    valign = center
}

# clock
label {
    text = cmd[update:1000] echo "$(date +"%H:%M")"
    color = rgb({{ .theme.colors.fg }})
    font_size = 30
    font_family = {{ .theme.font.name }} ExtraBold
    
    position = 0, 85
    halign = center
    valign = center
}

label {
    text = cmd[] echo "$(date +"%a, %d %b %Y")"
    color = rgb({{ .theme.colors.fg_sub }})
    font_size = 15
    font_family = {{ .theme.font.name }} Bold
    
    position = 0, 50
    halign = center
    valign = center
}

# now playing
label {
    text = cmd[update:1000] ~/.local/bin/nowplaying.sh
    color = rgb({{ .theme.colors.a_green }})
    font_size = 9
    font_family = {{ .theme.font.name }} ExtraBold
    
    position = 0, -6
    halign = center
    valign = top
}
