# opacity rules
windowrule {
    name = opacity_tiled
    match:float = 0
    opacity = 1 override
}

windowrule {
    name = opacity_fullscreen
    match:fullscreen = 1
    opacity = 1 override
}

# smart gaps
workspace = f[1], gapsout:0, gapsin:0

windowrule {
    name = smart_gaps
    match:workspace = f[1]
    border_size = 0
    rounding = 0
}

# screenshots
layerrule {
    name = screenshots_ui
    match:namespace = ^(hyprpicker|selection)
    no_anim = 1
}

# idle inhibit
windowrule {
    name = idle_inhibit
    match:class = ^(spotify)$
    match:title = ^(.*-.*)$
    idle_inhibit = always
}

# pinned windows
windowrule {
    name = pinned_styling
    match:pin = 1
    border_color = rgb({{ .colors.s_2 }}) rgb({{ .colors.s_2 }})
    opacity = 1 override
    opaque = 1
}

# floating windows
windowrule {
    name = float_pip
    match:title = ^(Picture-in-Picture)$
    float = 1
    keep_aspect_ratio = 1
    pin = 1
}

windowrule {
    name = float_apps
    match:class = ^(kitty|imv|vesktop|spotify|qBittorrent|xdg-desktop-portal-gtk)$
    float = 1
}

# special workspace & layout
windowrule {
    name = special_vesktop
    match:class = ^(vesktop)$
    workspace = special:s silent
    move = 0 0
}

windowrule {
    name = special_spotify
    match:class = ^(spotify)$
    workspace = special:s silent
    move = monitor_w-window_w monitor_h-window_h
}

# suppress maximize
windowrule {
    name = suppress_maximize
    match:class = .*
    suppress_event = maximize
}
