if status is-interactive
    # Commands to run in interactive sessions can go here
end

set -Ux FZF_DEFAULT_OPTS "\
--color=bg+:#{{ .colors.s_0 }},bg:#{{ .colors.bg }},spinner:#{{ .colors.a_rose }},hl:#{{ .colors.a_red }} \
--color=fg:#{{ .colors.fg }},header:#{{ .colors.a_red }},info:#{{ .colors.a_mauve }},pointer:#{{ .colors.a_rose }} \
--color=marker:#{{ .colors.a_rose }},fg+:#{{ .colors.fg }},prompt:#{{ .colors.a_mauve }},hl+:#{{ .colors.a_red }}"

set -gx EDITOR nvim

set -gx PATH $PATH ~/.local/bin
set -gx PATH $PATH ~/.spicetify # spicetify
set -gx PATH $PATH ~/.cargo/bin # rust cargo
set -gx PATH $PATH ~/.filen-cli/bin # filen-cli

zoxide init --cmd cd fish | source

fish_add_path /home/vuxnq/.spicetify

# opencode
fish_add_path /home/vuxnq/.opencode/bin
