#!/bin/bash

set -e

THEMES_PATH="$HOME/.local/share/themes"
CATPPUCCIN="catppuccin-mocha-lavender-standard+default"

mkdir -p "$THEMES_PATH"

rm -rf "$THEMES_PATH/$CATPPUCCIN"
rm -rf "$THEMES_PATH/$CATPPUCCIN-hdpi"
rm -rf "$THEMES_PATH/$CATPPUCCIN-xhdpi"

echo "> getting catppuccin gtk theme"
curl -L "https://github.com/catppuccin/gtk/releases/download/v1.0.3/$CATPPUCCIN.zip" -o $THEMES_PATH/catppuccin.zip
unzip -q "$THEMES_PATH/catppuccin.zip" -d "$THEMES_PATH"
rm "$THEMES_PATH/catppuccin.zip"

echo "> updating gtk theme"
gsettings set org.gnome.desktop.interface gtk-theme "$CATPPUCCIN"
gsettings set org.gnome.desktop.wm.preferences theme "$CATPPUCCIN"
gsettings set org.gnome.desktop.wm.preferences button-layout ""

echo "> done"
