*, *::before, *::after {
  font-family: {{ .theme.font.name }}, monospace;
  font-weight: 700;
  font-size: 12px;
}

:root {
  --uc-rounding: {{ .theme.ui.rounding }}px;
  --focus-outline-color: #{{ .theme.colors.fg }} !important;

  --tabpanel-background-color: #{{ .theme.colors.bg_darkest }} !important;
  --toolbarbutton-icon-fill-attention: #{{ .theme.colors.a_lavender }} !important;

  --swipe-nav-icon-primary-color: #{{ .theme.colors.bg_darkest }};

  --toolbar-field-background-color: #{{ .theme.colors.bg }} !important;
  --toolbar-field-focus-background-color: #{{ .theme.colors.bg }} !important;
  --toolbar-field-focus-border-color: #{{ .theme.colors.fg }} !important;

  --menu-color: #{{ .theme.colors.fg }} !important;
  --arrowpanel-color: #{{ .theme.colors.fg }} !important;
  
  --arrowpanel-border-color: #{{ .theme.colors.s_0 }} !important;
}

/* hiding bloat */
.titlebar-spacer,
.tabbrowser-tab .tab-close-button,
#back-button,
#forward-button,
#tabs-newtab-button,
.tab-close-button,
#alltabs-button { display: none !important; }

/* #nav-bar */
#navigator-toolbox {
  background: #{{ .theme.colors.bg_darkest }} !important;
  color: #{{ .theme.colors.fg }} !important;
}

#nav-bar {
  background: #{{ .theme.colors.bg_darkest }} !important;
  border: var(--uc-border) solid #{{ .theme.colors.s_0 }} !important;
}

#PersonalToolbar {
  background: #{{ .theme.colors.bg_darkest }} !important;
  border: var(--uc-border) solid #{{ .theme.colors.s_0 }} !important;
}

/* tabs */
.tab-content { color: #{{ .theme.colors.fg }} !important; transition: 0.2s; }
.tab-background { background: #{{ .theme.colors.bg }} !important; transition: 0.2s; }

.tab-background[selected] { background: #{{ .theme.colors.fg }} !important; }
.tabbrowser-tab:hover .tab-background { background: #{{ .theme.colors.a_lavender }} !important; }

.tabbrowser-tab:not([selected], [multiselected]):hover .tab-content,
.tabbrowser-tab[selected] .tab-content { color: #{{ .theme.colors.bg }} !important; }

/* urlbar */
.urlbarView,
#urlbar-input { color: #{{ .theme.colors.fg }} !important; --link-color: #{{ .theme.colors.a_lavender }} !important; }

/* sidebar */
#sidebar,
#sidebar-main,
#sidebar-box,
#sidebar-header,
#sidebar-search-container,
#historyTree {
  background: #{{ .theme.colors.bg_darkest }} !important;
  color: #{{ .theme.colors.fg }} !important;
}
.sidebar-placesTreechildren { color: #{{ .theme.colors.fg }} !important; }
#sidebar {
  background: #{{ .theme.colors.bg }} !important;
  color: #{{ .theme.colors.fg }} !important;
}
#sidebar-splitter {
  background: #{{ .theme.colors.s_0 }} !important;
}

/* menus */
menupopup,
panel {
  --panel-background: #{{ .theme.colors.bg_darkest }} !important;
  --panel-border-radius: var(--uc-rounding) !important;
  --panel-border-color: #{{ .theme.colors.s_0 }} !important;
  --panel-separator-color: #{{ .theme.colors.s_0 }} !important;
}

slot[part="content"] { border-width: 2px !important; }

#appMenu-popup {
  #shadow-root {
    > * { border-width: 2px !important; }
  }
}

menu,
menuitem {
  color: #{{ .theme.colors.fg }} !important;

  &:where([_moz-menuactive]:not([disabled="true"])) {
    background: #{{ .theme.colors.a_lavender }} !important;
    color: #{{ .theme.colors.bg }} !important;
  }
  &:where([_moz-menuactive="true"][disabled="true"]) {
    background: #{{ .theme.colors.a_lavender }} !important;
    color: #{{ .theme.colors.bg }} !important;
  }
}

.menupopup-arrowscrollbox { border-width: 2px !important; }
menuitem { border-radius: var(--uc-rounding) !important; }


#historySwipeAnimationPreviousArrow,
#historySwipeAnimationNextArrow {
  --swipe-nav-icon-primary-color: #{{ .theme.colors.fg }} !important;
}
