#!/bin/bash
SCRIPT="post"

set -e

if [ -d "$HOME/.extras_staging" ]; then
    echo "$SCRIPT > removing ~/.extras_staging"
    rm -rf "$HOME/.extras_staging"
fi

# shell
echo "$SCRIPT > changing shell to fish"
sudo chsh -s $(which fish) $USER

# disable adaptive backlight management
echo "$SCRIPT > disabling adaptive backlight management (adding kernel param)"
sudo grubby --update-kernel=ALL --args="amdgpu.abmlevel=0"

# font (sddm needs it)
echo "$SCRIPT > installing Maple fonts system-wide"
sudo mkdir -p "/usr/local/share/fonts"
sudo cp -r "$HOME/.local/share/fonts/Maple" "/usr/local/share/fonts/Maple"
sudo fc-cache -f

# syncthing
echo "$SCRIPT > enabling syncthing"
systemctl --user enable syncthing.service
systemctl --user start syncthing.service

echo "$SCRIPT > done"
