#!/bin/bash
SCRIPT="post"

set -e

# shell
echo "$SCRIPT > changing shell to fish"
sudo chsh -s $(which fish) $USER

# kernel parameters
echo "$SCRIPT > disabling adaptive backlight management (adding kernel param)"
sudo grubby --update-kernel=ALL --args="amdgpu.abmlevel=0"
echo "$SCRIPT > enabling verbose boot logs (removing rhgb and quiet)"
sudo grubby --update-kernel=ALL --remove-args="rhgb quiet"

# disable cpu boost
echo "$SCRIPT > disabling cpu boost"
echo 'w /sys/devices/system/cpu/cpufreq/boost - - - - 0' | sudo tee /etc/tmpfiles.d/disable-boost.conf

# font (sddm needs it)
echo "$SCRIPT > installing Maple fonts system-wide"
sudo mkdir -p "/usr/local/share/fonts"
sudo cp -r "$HOME/.local/share/fonts/Maple" "/usr/local/share/fonts/Maple"
sudo fc-cache -f

# syncthing
echo "$SCRIPT > enabling syncthing"
systemctl --user enable syncthing.service
systemctl --user start syncthing.service

echo "$SCRIPT > done"
