#!/bin/bash
SCRIPT="post"

set -e

# shell
echo "$SCRIPT > changing shell to zsh"
sudo chsh -s $(which zsh) $USER

# kernel parameters
echo "$SCRIPT > disabling adaptive backlight management (adding kernel param)"
sudo grubby --update-kernel=ALL --args="amdgpu.abmlevel=0"
echo "$SCRIPT > enabling verbose boot logs (removing rhgb and quiet)"
sudo grubby --update-kernel=ALL --remove-args="rhgb quiet"

# font (sddm needs it)
echo "$SCRIPT > installing Maple fonts system-wide"
sudo mkdir -p "/usr/local/share/fonts"
sudo cp -r "$HOME/.local/share/fonts/Maple" "/usr/local/share/fonts/Maple"
sudo fc-cache -f

# syncthing
echo "$SCRIPT > enabling syncthing"
systemctl --user enable syncthing.service
systemctl --user start syncthing.service

echo "$SCRIPT > done"
