#!/bin/bash
SCRIPT="postinstall"

echo "$SCRIPT > changing shell to fish"
chsh -s $(which fish)

echo "$SCRIPT > installing MapleMono fonts system-wide"
sudo mkdir -p "/usr/local/share/fonts"
sudo cp -a "$HOME/.local/share/fonts/MapleMono" "/usr/local/share/fonts/MapleMono"
sudo fc-cache -f

echo "$SCRIPT > done"
