#!/bin/bash
# hash: {{ includeTemplate "hash_dir" (joinPath .chezmoi.sourceDir ".extras/fonts") }}
SCRIPT="fonts"

set -e

TMP_DIR="/tmp/maple"
FONT_DIR="$HOME/.local/share/fonts/Maple"
CONFIG_SRC="{{ .chezmoi.sourceDir }}/.extras/fonts/maple-config.json"

rm -rf "$TMP_DIR"

echo "$SCRIPT > cloning repo (subframe7536/maple-font)"
git clone https://github.com/subframe7536/maple-font --depth 1 -b variable "$TMP_DIR"

cd "$TMP_DIR"

python3 -m venv venv
source venv/bin/activate

echo "$SCRIPT > installing requirements"
./venv/bin/pip install -r requirements.txt

if [ -f "$CONFIG_SRC" ]; then
    cp "$CONFIG_SRC" ./config.json
    echo "$SCRIPT > injected custom config.json"
else
    echo "$SCRIPT > no config.json found at $CONFIG_SRC, using default"
fi

echo "$SCRIPT > building the font"
./venv/bin/python build.py --ttf-only

echo "$SCRIPT > moving the font to $FONT_DIR"
mkdir -p "$FONT_DIR"
cp -r fonts/NF "$FONT_DIR/" 

echo "$SCRIPT > rebuilding the system font cache"
fc-cache -f "$FONT_DIR"

rm -rf "$TMP_DIR"

echo "$SCRIPT > done"
