#!/bin/bash
# hash: {{ includeTemplate "hash_dir" (joinPath .chezmoi.sourceDir "dot_cache/chezmoi_staging/firefox") }}
SCRIPT="firefox"

set -e

PROFILES_INI="$XDG_CONFIG_HOME/mozilla/firefox/profiles.ini"
if [[ ! -f "$PROFILES_INI" ]]; then
    echo "$SCRIPT > profiles.ini not found, exitting"
    exit 0
fi

PROFILE=$(grep -E "^Default=.*\.default" "$PROFILES_INI" | cut -d"=" -f2)
echo "$SCRIPT > firefox profile folder = $PROFILE"

echo "$SCRIPT > copying firefox files"
cp -r "$HOME/.cache/chezmoi_staging/firefox/." "$XDG_CONFIG_HOME/mozilla/firefox/$PROFILE/"

echo "$SCRIPT > done"
echo "$SCRIPT > remember to manually install: https://addons.mozilla.org/firefox/addon/catppuccin-mocha-lavender-git/"
