include                 theme.conf
remember_window_size    no
initial_window_width    80c
initial_window_height   26c
font_family             {{ .font_main }} Medium
bold_font               {{ .font_main }} ExtraBold
italic_font             {{ .font_main }} Medium Italic
bold_italic_font        {{ .font_main }} ExtraBold Italic
disable_ligatures       cursor
tab_bar_style           powerline
tab_powerline_style     round
# background_opacity      0.8
term                    xterm-256color
