* {
  border: none;
  border-radius: 4px;
  min-height: 0;
  font-family: JetBrainsMono NF ExtraBold;
  font-size: 12px;
}

@keyframes blink {
  to {
    background-color: #f5e0dc;
    color: #181825;
  }
}

window#waybar {
  background-color: transparent;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: #1e1e2e;
  margin: 6px 3px 0 3px;
  padding: 4px;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  padding: 0 9px;
  color: #cdd6f4;
  border-radius: 2px;
}


#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #b4befe;
}

#workspaces button.urgent {
  color: #1e1e2e;
  background-color: #f38ba8;
}

window#waybar.empty #window,
window#waybar.floating #window {
  background-color: transparent;
  color: transparent;
}

window#waybar.fullscreen #window,
#memory, #cpu, #temperature, #clock,
#custom-spotify, #window, #tray,
#battery, #backlight, #custom-logo,
#pulseaudio, #pulseaudio.muted,
#network, #bluetooth {
  margin: 6px 3px 0 3px;
  padding: 4px 6px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#custom-logo {
  margin-left: 6px;
  padding-right: 7px;
  padding-left: 4px;
}

#custom-spotify {
  color: #a6e3a1;
}

#memory {
  color: #eebebe;
  margin-right: 0;
  border-radius: 4px 0 0 4px;
}
#cpu {
  color: #eba0ac;
  margin: 6px 0 0 0;
  border-radius: 0;
}
#temperature {
  color: #f38ba8;
  margin-left: 0;
  border-radius: 0 4px 4px 0;
}

#battery.plugged {
  color: #a6e3a1;
}
#battery.charging {
  background-color: #a6e3a1;
  color: #1e1e2e;
}
#battery.warning {
  background-color: #f38ba8;
  color: #1e1e2e;
}
#battery.critical,
#battery.urgent {
  background-color: #f38ba8;
  color: #1e1e2e;
  animation: blink 0.5s ease infinite alternate;
}

#pulseaudio {
  color: #f9e2af;
}

#network.wifi,
#network.linked,
#network.ethernet {
  color: #fab387;
}

/* toggle */
#workspaces button.special,
#pulseaudio.input,
#bluetooth {
  color: #cdd6f4;
  background-color: #313244;
}

/* fix non-mono icons */
#network, #bluetooth {
  padding-right: 10px;
}

#clock {
  margin-right: 6px;
}

tooltip {
  color: #cdd6f4;
  background-color: #11111b;
  border: 2px solid #313244;
}

tooltip label {
  padding: 5px;
}
