@-moz-document url("about:home"), url("about:newtab"), url("about:blank") {
    :root {
        --newtab-primary-action-background: #b4befe !important;
        --newtab-background-color-secondary: #1e1e2e !important;
    }
    * {
        font-family: JetBrainsMono NF, monospace;
        font-weight: 700;
      }
    /* body { background-color: transparent !important; } */
    body { background-color: #11111b !important; }
    .icon.icon-settings { color: #cdd6f4 !important; }
    .card-context-icon { fill: #cdd6f4 !important; }
    .card:hover .card-details,.card:hover .card-context, .context-menu-button:hover { background-color: #11111b !important; }
    .context-menu-button { background-color: var(--newtab-background-color-secondary) !important; }
}
