*, *::before, *::after {
  font-family: JetBrainsMono NF, monospace;
  font-weight: 700;
  font-size: 12px;
}

:root {
  --focus-outline-color: #cdd6f4 !important;

  --tabpanel-background-color: #11111b !important;
  --toolbarbutton-icon-fill-attention: #b4befe !important;

  --swipe-nav-icon-primary-color: #11111b;

  --toolbar-field-background-color: #1e1e2e !important;
  --toolbar-field-focus-background-color: #1e1e2e !important;
  --toolbar-field-focus-border-color: #cdd6f4 !important;

  --menu-color: #cdd6f4 !important;
  --arrowpanel-color: #cdd6f4 !important;
  
  --arrowpanel-border-color: #313244 !important;
}

/* hiding bloat */
.titlebar-spacer,
.tabbrowser-tab .tab-close-button,
#back-button,
#forward-button,
#tabs-newtab-button,
.tab-close-button,
#alltabs-button { display: none !important; }

/* #nav-bar */
#navigator-toolbox {
  background: #11111b !important;
  color: #cdd6f4 !important;
}

#nav-bar {
  background: #11111b !important;
  border: var(--uc-border) solid #313244 !important;
}

#PersonalToolbar {
  background: #11111b !important;
  border: var(--uc-border) solid #313244 !important;
}

/* tabs */
.tab-content { color: #cdd6f4 !important; transition: 0.2s; }
.tab-background { background: #1e1e2e !important; transition: 0.2s; }

.tab-background[selected] { background: #cdd6f4 !important; }
.tabbrowser-tab:hover .tab-background { background: #b4befe !important; }

.tabbrowser-tab:not([selected], [multiselected]):hover .tab-content,
.tabbrowser-tab[selected] .tab-content { color: #1e1e2e !important; }

/* urlbar */
.urlbarView,
#urlbar-input { color: #cdd6f4 !important; --link-color: #b4befe !important; }

/* sidebar */
#sidebar,
#sidebar-main,
#sidebar-box,
#sidebar-header,
#sidebar-search-container,
#historyTree {
  background: #11111b !important;
  color: #cdd6f4 !important;
}
.sidebar-placesTreechildren { color: #cdd6f4 !important; }
#sidebar {
  background: #1e1e2e !important;
  color: #cdd6f4 !important;
}
#sidebar-splitter {
  background: #313244 !important;
}

/* menus */
menupopup,
panel {
  --panel-background: #11111b !important;
  --panel-border-radius: var(--uc-rounding) !important;
  --panel-border-color: #313244 !important;
  --panel-separator-color: #313244 !important;
}

slot[part="content"] { border-width: 2px !important; }

#appMenu-popup {
  #shadow-root {
    > * { border-width: 2px !important; }
  }
}

menu,
menuitem {
  color: #cdd6f4 !important;

  &:where([_moz-menuactive]:not([disabled="true"])) {
    background: #b4befe !important;
    color: #1e1e2e !important;
  }
  &:where([_moz-menuactive="true"][disabled="true"]) {
    background: #b4befe !important;
    color: #1e1e2e !important;
  }
}

.menupopup-arrowscrollbox { border-width: 2px !important; }
menuitem { border-radius: var(--uc-rounding) !important; }


#historySwipeAnimationPreviousArrow,
#historySwipeAnimationNextArrow {
  --swipe-nav-icon-primary-color: #cdd6f4 !important;
}
