@import "../config.rasi"

window { width: 300; }
mainbox { children: [inputbar]; }
inputbar { children: [ textbox-prompt-colon, entry ]; }
textbox-prompt-colon { str: ""; }
entry { placeholder: "password"; }