[General]
Font="{{ .theme.font.name }}"
FontSize=10
FontWeight=800
FontWeightBold=700
Background="backgrounds/waves.png"
PasswordShowLastLetter=500

blue      = "#{{ .theme.colors.a_blue }}"
lavender  = "#{{ .theme.colors.a_lavender }}"
text      = "#{{ .theme.colors.fg }}"
subtext0  = "#{{ .theme.colors.fg_sub }}"
overlay0  = "#{{ .theme.colors.o_0 }}"
surface1  = "#{{ .theme.colors.s_1 }}"
surface0  = "#{{ .theme.colors.s_0 }}"
base      = "#{{ .theme.colors.bg }}"
crust     = "#{{ .theme.colors.bg_darkest }}"
